{% extends "layouts/tool.njk" %}
{% import "macros/tool-components.njk" as components %}

{% block tool_input %}
  {{ components.panel({
    title: 'Input',
    id: 'input',
    type: 'input',
    placeholder: 'Enter the URL here...',
    copy: false,
    fullscreen: true,
    droppable: true,
    droppableHidden: false,
    hiddenTextarea: true
  }) }}
{% endblock %}

{% block tool_output %}
  {{ components.panel({
    title: 'Output',
    id: 'output',
    type: 'output',
    placeholder: 'Output here...',
    readonly: true,
    copy: true,
    fullscreen: true
  }) }}
{% endblock %}

{% block tool_settings %}
<div class="setting">
  <label for="file-type">Input Type</label>
  <select id="file-type" data-remember="file-type" data-auto-update>
    <option value="file">File</option>
    <option value="url">URL</option>
  </select>
</div>
{% if settings.outputEncoding %}
<div class="setting">
  <label for="output-type">Output Encoding</label>
  <select data-toggle="encoding" id="output-type" data-remember="output-type" data-share="output_type" data-auto-update data-type="hex">
    <option value="hex">Hex (Lower Case)</option>
    <option value="hex_upper">Hex (Upper Case)</option>
    <option value="base64" data-load-encoding="base64">Base64</option>
  </select>
</div>
{% endif %}
{% endblock %}
