{% extends "layouts/tool.njk" %}
{% import "macros/tool-components.njk" as components with context %}

{% block tool_input %}
  {{ components.panel({
    title: 'Input',
    id: 'input',
    type: 'input',
    placeholder: 'Enter here...',
    copy: false,
    fullscreen: true,
    editor: true,
    editorLang: 'json'
  }) }}
{% endblock %}

{% block tool_output %}
  {{ components.panel({
    title: 'Validation Result',
    id: 'validate-result',
    type: 'output',
    isValidator: true,
    fullscreen: false,
    copy: false
  }) }}
{% endblock %}

{% block tool_settings %}
<!-- Validators generally don't have many settings in this tool, except auto-update which is handled by layout -->
{% endblock %}
