<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    <link rel="canonical" href="{{ site.domain }}{{ target }}">
    <meta http-equiv="refresh" content="0; url={{ site.basePath }}{{ target }}">
  </head>
  <body>
    <p>Redirecting to <a href="{{ site.basePath }}{{ target }}">{{ site.basePath }}{{ target }}</a>...</p>
    <script>
      window.location.href = '{{ site.basePath }}{{ target }}';
    </script>
  </body>
</html>
