<div class="top-nav">
  <button id="sidebar-toggler" aria-controls="sidebar" aria-expanded="false" aria-label="Menu">
    <img src="{{ asset('images/menu.svg') }}" width="24" height="24" alt="Menu" />
  </button>
</div>
