<div id="sidebar">
  <div class="mask"></div>
  <div class="container">
    <header>
      <a href="./">
        <img src="images/logo.svg" width="18" height="18" alt="Logo" />
        <h2>Online Tools</h2>
      </a>
      <div class="toolbar">
        <button class="icon theme">
          <img class="light" src="images/light.svg" alt="Light mode" title="Light mode" />
          <img class="dark" src="images/dark.svg" alt="Dark mode" title="Dark mode" />
        </button>
      </div>
    </header>

    {% for cat in categories %}
    <div class="section">
      <h3>{{ cat.title }}</h3>
      {% for sub in cat.subcategories %}
      <details{% if category == cat.id and subcategory == sub.id %} class="active" open{% endif %}>
        <summary>{{ sub.title }}</summary>
        <nav>
          <ol>
            {% for t in toolsByCategory[cat.id][sub.id] %}
            <li{% if id == t.id %} class="active"{% endif %}>
              <a href="{{ t.path }}">{{ t.title }}</a>
            </li>
            {% endfor %}
          </ol>
        </nav>
      </details>
      {% endfor %}
    </div>
    {% endfor %}

    <div class="section">
      <h3>Links</h3>
      <nav class="links">
        <ol>
          <li><a href="https://github.com/emn178/online-tools/issues">Contact</a></li>
        </ol>
      </nav>
    </div>
  </div>
</div>
