{% extends "layouts/base.njk" %}

{% block main %}
<header>
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>
</header>
<main>
  <div class="listing-layout">
    {% block listing_content %}{% endblock %}
  </div>
</main>
{% endblock %}
